html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  margin: 0 auto;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#root {
  width: 100%;
  height: 100%;
}

.background {
  /* background: linear-gradient(85deg, rgb(13, 13, 13), rgb(70, 70, 70)); */
  /* background-color: black; */
  background-color: rgb(34, 34, 34);
}

.light-background {
  background-color: white;
}


.box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2.8em black;
  transition: 0.2s;
  position: relative;
  z-index: 10;
}

.nav {
  /* background: linear-gradient(45deg, rgb(57, 57, 57), rgb(10, 17, 41)); */
  /* background: linear-gradient(45deg, rgb(17, 21, 148), rgb(10, 17, 41)); */
  /* background: linear-gradient(45deg, rgb(9, 12, 96), rgb(38, 14, 98)); */
  /* background-color: black; */
  background-color: rgb(34, 34, 34);
  /* background: linear-gradient(85deg, rgb(13, 13, 13), rgb(70, 70, 70)); */
  min-width: 100%;
}

.light-nav {
  background-color: #024aff;
  min-width: 100%;
}

.logo {
  text-shadow: 0 0 10px #6cb8ff,
      0 0 20px #6cb8ff,
      0 0 30px #6cb8ff;
  
}

.logo:hover {
  text-shadow: 0 0 10px #6cb8ff,
      0 0 20px #6cb8ff,
      0 0 30px #6cb8ff,
      0 0 40px #6cb8ff,
      0 0 50px #6cb8ff;
}




/* 
@media (max-width: 750px) {
  .detailCard {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .detailCard {
    font-size: 9px;
  }
} */

.detailCard {
  max-width: 50em; /* 최대 너비 고정 */
  width: 100%;     /* 화면 좁으면 100% */
  margin: 0 auto;  /* 중앙 정렬 */
  position: relative;
  overflow: hidden; /* 넘치는 부분 숨김 */
}
.marginChange {
  margin-top: -18em;
}

/* @media (max-width: 600px) {
  .marginChange {
    margin-top: 10em;
  }
} */
/* 
@media (max-width: 800px) {
  .movie-floating-box {
    margin-top: -10em;
  }
}

@media (max-width: 600px) {
  .movie-floating-box {
    margin-top: -7em;
  }
} */





@media (max-width: 1600px) {
  .input {
    width: 8em;
  }
  .title {
    font-size: 2.5em;
  }
  html {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 16px;
  }
  .title {
    font-size: 2.5em;
  }
  .input {
    width: 6em;
  }
  .detailCard {
    font-size: 15px;
  }

}

@media (max-width: 800px) {
  .login {
    font-size: 0.8em;
    letter-spacing: -2px;
  }
  .signup {
    font-size: 0.8em;
    letter-spacing: -2px;
  }
  .logo{
    font-size: 1.5em;
  }
  html {
    font-size: 16px;
  }
  .title {
    font-size: 1.7em;
  }
  .input {
    width: 5.5em;
  }
}




@media (max-width: 700px) {
  html {
    font-size: 15px;
  }

  .title {
    font-size: 1.6em;
  }
  .input {
    width: 5em;
  }
}

@media (max-width: 650px) {
  .little {
    width: 7.5em;
  }
  .title {
    font-size: 1.5em;
  }
  .input {
    width: 4em;
  }
}


@media (max-width: 550px) {
  .little {
    width: 6.5em;
  }
  html {
    font-size: 14px;
  }
  .title {
    font-size: 1.5em;
  }
  .input {
    font-size: 1rem;
    width: 3em;
  }
}

