#root {
  width: 100%;
  margin: 0 auto;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2.8em black;
  transition: 0.2s;
  position: relative;
  z-index: 10;
}

.nav {
  background: linear-gradient(45deg, rgb(57, 57, 57), rgb(10, 17, 41));
  min-width: 100%;
}

/* .detail {
  min-width: 40em;

} */

/* @media (max-width: 60em) {
  .detail {
    width: 100%;
    margin: 0;
  }
} */